.myPosts {
    color: goldenrod;
}
.myPosts img {
    max-width: 50px;
}
.postTextarea {
    border: none;
    width: 100%;
    height: 50px;
    background-color: rgb(41, 42, 61);
    color: rgb(233, 230, 230);
}
.postButton {
    background-color: gray;
    padding: 5px 10px;
    border: none;
    margin: 0 auto;
}