/* сброс стилей браузера */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.2;
}
ol { 
	padding-left: 1.4em;
	list-style: decimal;
}
ul {
	padding-left: 1.4em;
	list-style: square;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} 
/* конец кода сброса стилей браузера */

body{
  background-color:   #1e1e2f;
  color: #e0e0eb; 
}
img {
  max-width: 100%;
}
a {
  color: #e0e0eb; 
  text-decoration: none;
}
*{
  transition: .5s;
}
/* page grid */
.gridContainer {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-areas: 
  "header header header"
  "sideBarLeft content sideBarRight"
  "footer footer footer";

  grid-template-rows: 50px 1fr 40px;
  grid-template-columns: 3fr 10fr 2fr;
  grid-gap: 10px;
}

.header, 
.sideBarLeft, 
.content, 
.sideBarRight,
.footer {
  background-color: #0a0a10;  
  padding: 10px;
}

.header {
  grid-area: header;
}
.sideBarLeft{
  grid-area: sideBarLeft;
}
.content {
  grid-area: content;
}
.sideBarRight {
  grid-area: sideBarRight;
}
.footer {
  grid-area: footer;
}


/*  header    ////////////////////// */
.header,
.headerUserMenu {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}
.userMenu {
  position: absolute;
  background-color: #1e1e2fc2;
  margin-top: 40px;
  opacity: 0;
}
.headerUserMenu:hover .userMenu {
  opacity: 1;
}

/*  sideBarLeft    ////////////////////// */
.menuItems {
  display: grid;
  grid-template-columns: 35px 1fr 30px;
  margin: 2px;
}
.menuItems img {
  max-width: 18px;
}
.menuItemCounter {
  background-color: #1e1e2f;
    /* ????? */
  padding-top: 6px;
  padding-left: 6px;
  /* ????? */
}
/*  content    ////////////////////// */

/*  sideBarRight    ////////////////////// */

/*  footer    ////////////////////// */
.footer {
  text-align: center;
}
/* Hover effekt  //////////////////////// */
.headerUserMenu,
.menuItemIcon,
.menuItemLink {
  padding: 5px 8px 5px 8px;
}
.hoverBGColor:hover {
  background-color: #141420;  
}



@media (max-width: 767px) and (min-width: 411px) {
  .gridContainer {
    grid-template-columns: 2fr 8fr
  }
  .sideBarRight {display: none;}
  * {color: hotpink;}
}

@media (max-width: 410px) and (min-width: 0) {
  .sideBarRight,
  .logo,
  .lookFor,
  .footer {
    display: none;
  }
  .gridContainer {
    grid-template-areas: 
    "header header header"
    "content content content "
    "sideBarLeft sideBarLeft sideBarLeft";
    grid-template-rows: 50px auto auto;
  }
  * {color: yellowgreen;}
}